# Dependencies
frontend/node_modules/
backend/node_modules/

# Environment variables
frontend/.env
backend/.env

# Build folders
frontend/dist/
frontend/build/
backend/dist/
backend/build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store

# IDE
.vscode/settings.json